<ng-container>
  <div class="component-header__top">
    <div class="container p-3">
      <div class="row align-items-center">
        <!-- Search -->
        <div class="col-6 col-md-4">
          <div class="search-container d-flex">
            <div class="search-button">
              <button type="button" class="btn btn-outline-primary"
                (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>

            <div class="search-input">
              <div #collapse="ngbCollapse" [horizontal]="true"
                [(ngbCollapse)]="isCollapsed">
                <input type="text" class="search-input"
                  placeholder="Search..." />
              </div>
            </div>
          </div>
        </div>

        <!-- Logo -->
        <div class="col-md-4 d-none d-md-flex justify-content-center">
          <div class="logo">
            <img [src]="logoImage" alt="Coral Logo" loading="lazy">
          </div>
        </div>

        <!-- User action -->
        <div class="col-6 col-md-4">
          <div class="user-action">
            <div class="nav-menu">
              <ul class="nav justify-content-end">
                <li class="nav-link">
                  <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span>Account</span>
                  </a>
                </li>

                <li class="nav-link">
                  <a href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span>Shopping</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Logo -->
        <div class="col-12 col-md-4 d-md-none">
          <div class="logo">
            <img [src]="logoImage" alt="Coral Logo" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Navigation -->
  <div class="component-header__navigation">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-menu">
            <ul class="nav justify-content-between align-items-center">
              <li *ngFor="let link of navLink; trackBy: trackByFn" class="item">
                <a class="nav-link" [title]="link.name" [href]="link.url">{{
                  link.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
