.hero-content {
  h2 {
    padding-bottom: 30px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 19%;
    right: 22%;
    width: 26%;
    height: 77%;
    border-radius: 50% 0 50% 0;
    border: 2px solid var(--grey);
    z-index: -1;
  }
}
.hero-image {
  img {
    border-radius: 50% 0 50% 0;
  }
}
