<footer class="footer">
    <div class="footer-menu">
        <div class="footer-overview">
            <img [src]="logoImage" alt="coral logo" loading="lazy" />
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua</p>
            <div class="social-media">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="catalog-menu">
            <h3>CATALOG</h3>
            <ul>
                <li><a href="#">Necklaces</a></li>
                <li><a href="#">Hoodies</a></li>
                <li><a href="#">Jewelry Box</a></li>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">Jacket</a></li>
            </ul>
        </div>
        <div class="about-us-menu">
            <h3>ABOUT US</h3>
            <ul>
                <li><a href="#">Our Producers</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="customer-services-menu">
            <h3>CUSTOMER SERVICES</h3>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Track Your Order</a></li>
                <li><a href="#">Product Care & Repair</a></li>
                <li><a href="#">Book An Appointment</a></li>
                <li><a href="#">Shipping & Returns</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-line">
        <div class="footer-left">
            <p>© 2022 Coral, Inc.</p>
        </div>
        <div class="footer-center">
            <img src="" alt="payment icons">
        </div>
        <div class="footer-right" id="scrollToTop">
            <a href="#">Scroll To Top <i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </div>
</footer>